[flake8]
# Some like to bend the rules :)
# flake8 isn't pep8 complient sometimes, but black catches it correctly
# W503: line break before bin operator (W504: after binary operator. flake8 lets us decide)
ignore = E203, W503

exclude =
    .git,
    __pycache__,
    build,
    dist,
    venv*,
    env*,
    .venv,
    granola/_version.py,
    versioneer.py
    docs

max-line-length = 120