
# Environments
*env*/

# IDE configurations
.idea/
.vscode/
.pcode/

# Byte-Compiled
__pycache__/
*.py[cod]

# pytest cache
.pytest_cache

# Coverage
.coverage
coverage.xml

# Sphinx
docs/_build
docs/_static
docs/temp

*.egg*
